<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.majd_alden.storyviewerlibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".app.StoryApp">
        <activity
            android:name="com.majd_alden.storyviewerlibrary.screen.StoryViewerActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>